@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@font-face { 
    font-family: 'Lato'; 
    src: url('assets/Lato-Regular.ttf');                                    
    font-weight: normal; 
    font-style: normal; 
  }
  @font-face { 
    font-family: 'Roboto'; 
    src: url('assets/Roboto-Regular.ttf');                                    
    font-weight: normal; 
    font-style: normal; 
  }
body{
   width: 1020px; 
   margin: 0 auto;
   font-family: "Lato";
}
header{
    height: 95px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    align-items: center;
    background: url(assets/header.png);
}
h1{
    display: flex;
    margin-left: 3.92%;
    position: relative;
    bottom: 2px;
    line-height: 6px;
    font-size: 24.5px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}
.logo-simbol{
    font-size: 24.5px;
    color: #f06c64;
}
nav{
    width: 36.3369%;
    display: flex;
    margin-top: 4px;
    margin-left: 44.2%;
    
}
ul{
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: start;
    text-transform: uppercase;
    padding: 0;
}
li{
    list-style: none;
    display: flex;
    margin-right: 12.5px;
    color: #494e62;
}
.point{
    display: flex;
    width: 0px;
    height: 0px;
    border: 2px solid #494e62;
    border-radius: 100px;
}
a{
    font-size: 12px;
    line-height: 6px;
    color: #ffffff;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
}
.navigation--item-selected{
    color: #F06C64;
}
.headerBottom{
    width: 1020px;
    height: 7px;
    display: flex;
    position: absolute;
    top: 89.4px;
    background: url(assets/headerBottom.png);
}
main{
    border: 0;
    margin: 0;
    padding: 0;
}
.main-slider{
    
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    position: relative;
    background: url(assets/imgBg.png);
}
.main-slider--verticalPhone{
    width: 245px;
    height: 570px;
    display: flex;
    position: relative;
    bottom: 17px;
    margin-left: 110px;
    background: url(assets/verticalPhone.png);
}
.main-slider--horizontalPhone{
    width: 600px;
    height: 400px;
    display: flex;
    align-self: center;
    position: relative;
    bottom: 31px;
    left: 5px;
    background: url(assets/horizontalPhone.png);
}
.main-slider--left{
    width: 16px;
    height: 27px;
    position: absolute;
    top: 280px;
    left: 42px;
    background: url(assets/left.png);
}
.main-slider--right{
    width: 16px;
    height: 27px;
    display: flex;
    justify-self: flex-end;
    position: absolute;
    top: 280px;
    left: 965px;
    background: url(assets/right.png);
}
.main-sliderBottom{
    width: 100%;
    height: 7px;
    position: absolute;
    top: 595px;
    background: url(assets/imgBgBottom.png);
}
.main-ourServices{
    border-top: 0.1px solid #ffffff;
    margin: 0;
    position: relative;
    height: 500px;
    color: #666d89;
    background: url(assets/textBg.png);
}
h2{
    margin-top: 67px;
    margin-left: 3.92%;
    font-size: 30px;
    line-height: 18px;
    font-weight: 900;
    text-align: left;
    text-decoration: solid;
}
p{
    margin-left: 3.92%;
    margin-top: 30px;
    font-size: 17.5px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    text-align: justify;
}
.articles{
    display: flex;
    flex-wrap: wrap;
    margin-left: 3.92%;
    margin-top: 45px;
}
h3{
    margin: 0 0 10px 0;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato","Roboto",sans-serif;
    font-weight: 900;
    text-align: justify;
    text-decoration: solid;
}
.articles p{
    width: 220px;
    margin: 0;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato","Roboto",sans-serif;
    font-weight: 400;
    text-align: justify;
    text-decoration: solid;
}
.articles-customDesign, 
.articles-inovativIdeas, 
.articles-loveIsTheAnswer
{
    display: flex;
    flex-direction: row;
}

.articles-responsiveLayout,
.articles-support,
.articles-feelLikeAStar{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.articles-customDesign--img{
    margin: 0 20px 0 0;
    width: 60px;
    height: 60px;
    background: url(assets/pen.png);
}
.articles-inovativIdeas--img{
    margin: 0 20px 0 20px;
    width: 60px;
    height: 60px;
    background: url(assets/bulb.png);
}
.articles-loveIsTheAnswer--img{
    margin: 0 20px 0 20px;
    width: 60px;
    height: 60px;
    background: url(assets/heart.png);
}
.articles-responsiveLayout--img{
    margin: 0 20px 0 0;
    width: 60px;
    height: 60px;
    background: url(assets/phone.png); 
}

.articles-support--img{
    margin: 0 20px 0 20px;
    width: 60px;
    height: 60px;
    background: url(assets/bubble.png);
}
.articles-feelLikeAStar--img{
    margin: 0 21px 0 21px;
    width: 60px;
    height: 60px;
    background: url(assets/star.png);
}

.textBottom{
    z-index: 10;
    width: 1020px;
    height: 8px;
    position: absolute;
    top: 491px;
    background: url(assets/textBgBottom.png);
}
